<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <BroforceManagedPath>C:\Program Files (x86)\Steam\steamapps\common\Broforce\Broforce_beta_Data\Managed</BroforceManagedPath>
    <UnityModManagerPath>C:\Path\To\Broforce\r2mod\Broforce\profiles\Broforce\UMM\Core</UnityModManagerPath>
    <!-- Optional: installed Unity Inspector Mod package containing mcs.dll and Newtonsoft.Json.dll. -->
    <!-- <InspectorModDependenciesPath>C:\Path\To\Broforce\r2mod\Broforce\profiles\Broforce\UMM\Mods\Unity Inspector Mod</InspectorModDependenciesPath> -->
  </PropertyGroup>
</Project>
